<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/inventory">Inventory</a></li>
      </ul>
      <div class="dropdown">
        <button class="dropbtn">Suppliers</button>
        <div class="dropdown-content">
          <% suppliers.forEach(supplier => { %>
            <a href="/suppliers/<%= supplier._id %>"><%= supplier.name %></a>
          <% }) %>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
          <% categories.forEach(category => { %>
            <a href="/categories/<%= category._id %>"><%= category.name %></a>
          <% }) %>
        </div>
      </div>
    </div>
    <main>
      <!-- Content Block -->
    </main>
  </body>
</html>

